<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button mat-tooltip="Home" (click)="this.router.navigate(['home']);"><mat-icon>home</mat-icon></button>
            <span class="flex-spacer">DungeonMaestro 5e</span>
            <button mat-icon-button mat-tooltip="Menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </mat-toolbar>

        <div class="body-content"><router-outlet></router-outlet></div>
    </mat-sidenav-content>

<mat-sidenav #sidenav class="drawer-content" position="end" [fixedInViewport]="true">
    @if (!this.auth.logged_in) {
        <button mat-button (click)="this.router.navigate(['login'])">Login</button>
    }
    @else {
        <button mat-button (click)="this.logout()">Logout</button>
    }
</mat-sidenav>
</mat-sidenav-container>