mat-card{
    border: 2px ridge #c2ab32;
    background-color: #00000090;
  }
  
  mat-card-title {
    font-family:'Matura MT Script Capitals';
    text-align: center;
  }
  
  mat-card-subtitle {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }