.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card{
  border: 2px ridge #c2ab32;
  background-color: #00000090;
  cursor: pointer;
}

mat-card:hover{
  border: 2px ridge #312b0d;
  color: #c2ab32;
}

mat-card-title {
  font-family:'Matura MT Script Capitals';
  text-align: center;
}

mat-card-subtitle {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}
