@if (!this.selected_campaign || this.selected_campaign.length == 0) {
    @for ( entry of this.firestore.campaigns | keyvalue; track entry.key) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{entry.value.name}}</mat-card-title>
                <mat-card-subtitle> [[OWNER NAME]] </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="this.router.navigate(['/viewer/'.concat(entry.key)])">Works</button>
            </mat-card-actions>
        </mat-card>
    }
}
@else if (!this.selected_work || this.selected_work.length == 0) {
    @for ( entry of this.firestore.works.get(this.selected_campaign) | keyvalue; track entry.key) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{entry.value.name}}</mat-card-title>
                <mat-card-subtitle>
                    @for (filterable of entry.value.filterables; track filterable) {
                        <span>{{filterable}}</span>
                    }
                </mat-card-subtitle>
                <mat-card-content>{{entry.value.info}}</mat-card-content>
            </mat-card-header>
        </mat-card>
    }
}
@else {
    Should have a selected campaign and work IDs
}
